{%  extends "base.html"%}
{% load staticfiles %}
{% block head %}
<style>
.bg-image--20{
    background:url('{% static "images/img/background.jpg"%}');background-size:100% 100%; background-position: center center;   
}
.bg-image--21{
    background:url('{% static "images/img/background2.jpg"%}');background-size:100% 100%; background-position: center center;
}
.circle{
    border-radius:50%; height:50px;width:50px; background:rgb(197, 189, 78); text-align:center; font-size: 30px;
    color: black;
}
.hm{
    height:20%;font-weight:bold; text-align: center; color:black;
}
</style>
{% endblock %}
{% block body %}
<!-- Start Bradcaump area -->
<div class="slider__area slider--one ht__bradcaump__area">
    <div class="slider__activation--1 ht__bradcaump__wrap d-flex align-items-center ">
        <!-- Start Single Slide -->
        <div class="slide fullscreen   bg-image--1">
            <div class="container ">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="slider__content">
                            <div class="slider__inner">
                                <div class="">
                                    <div class="">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12">
                                                    <div class="bradcaump__inner text-center brad__white">
                                                        <h2 class="bradcaump-title">about us</h2>
                                                        <nav class="bradcaump-inner">
                                                          <a class="breadcrumb-item" href="{% url 'index'%}">Home</a>
                                                          <span class="brd-separetor"><i class="zmdi zmdi-long-arrow-right"></i></span>
                                                          <span class="breadcrumb-item active">about us</span>
                                                        </nav>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Single Slide -->     
        
    </div>

        </div>
    </div>
    
</div>
        <div class="container-fluid ">
                <div class="row" style="height:400px">
                        <div class="col-md-6 p-5">
                                <h1 style="font-size:50px;text-align: center" >WELCOME! </h1>
                                <h1 style="font-size:30px;text-align: center">
                                        Our mission is to ensure nobody has a bad meal.
                                </h1>                        
                        <h1 style="font-size:20px;text-align: center">
                            “CUISION is young fast growing company that works to make your life easier. We take responsibility for making sure that your orders from restaurants are delivered to you safely and quickly.
                          </h1>       
                          <h1 style="font-size:20px;text-align: center">
                            Cluision is user friendly interface with a simple order flow makes the users more flexible to place online food orders either from this website .
                          </h1>
                    </div>
                        <div class="col-md-6 p-0" >
                                <div class="carousel slide" id="mycarousel" data-ride="carousel" >
                                  <div class="carousel-inner"  data-interval="1s">
                                        <div class="carousel-item active" >                            
                                           <img src='{% static "image/good.jpg"%}' width="90%" height="400px">       
                                        </div>
                                        <div class="carousel-item" > 
                                            <img src='{% static "image/good3.jpg"%}' width="90%" height="400px">       
                                 
                                        </div>
                                        <div class="carousel-item">
                                               
                                            <img src='{% static "image/good2.jpg"%}' width="100%" height="400px">       
                                          </div>
                                          <div class="carousel-item">
                                               
                                              <img src='{% static "image/good1.jpg"%}' width="100%" height="400px">       
                                            </div>
            
                                          <a class="carousel-control-prev" href="#mycarousel" data-slide="prev">
                                <span class='carousel-control-prev-icon'></span>    
                                </a>
                                <a class="carousel-control-next" href="#mycarousel" data-slide="next">
                                <span class='carousel-control-next-icon'></span>   
                                </a>         
                            </div>  
                                </div>       
                        </div>
                    </div>
                </div>    
        
   
    <!-- End Bradcaump area -->
    <!-- Start About Us Area  -->
    <section class="food__about__us__area  bg--white">
            <div class="container p-4">
                    <div class="row p-2">
                        <div class="col-lg-12">
                            <div class="section__title title__style--2 service__align--center">
                                <h2 class="title__line">Why Choose Us</h2>
                                <p>The process of our service </p>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                            <div class="col-md-4 p-4">
                                  <div>
                                    <h3 class='circle'>1</h3>
                                    <h6> 30,000 Restaurent Menu</h6>
                                <p class="ml-auto">We’re working with many restaurants in your city to put food all in one place.</p>  
                                </div>
                                  <div>
                                        <h3 class='circle'>2</h3>
                                         <h6> Easy Ordring by Phone</h6>
                                        <p class="ml-auto">This allows you to order quickly and easily. Accessible at any time.</p>  
                                       </div>
                               <div>
                                            <h3 class='circle'>3</h3>
                                            <h6> Free Website</h6>
                                            <p class="ml-auto">This website allows you to choose restaurant, view price and check order.</p>  
                                           </div>
                                    
                            </div>
                            <div class="col-md-4 p-4" >
                                  <img src='{% static "image/ord1.jpg"%}'>
                            </div>
                            <div class="col-md-4 p-4">
                                 <div>
                                   <h3 class='circle'>4</h3>
                                   <h6> Easy Online Ordering</h6>
                                   <p class="ml-auto">Once logged in, you can easily navigate around the site to complete your order.</p>  
                                 </div>
                                 <div>
                                    <h3 class='circle'>5</h3>
                                    <h6> 100% positive feedbacks</h6>
                                    <p class="ml-auto">We care about our customers, that is why we get 100% positive feedbacks.</p>  
                                 </div>
                                  <div>
                                    <h3 class='circle'>6</h3>
                                    <h6> Fast Guaranteed Delivery</h6>
                                    <p class="ml-auto">We take responsibility for making sure that order are delivered to you safely.</p>  
                                    </div>
                                 </div>    
                            </div>
                          </div>
           
    </section>
    <!-- End About Us Area  -->
    <!-- Start Our Team Area -->
    <section class="food__team__area team--2 bg--white section-padding--lg bg-image--21">
                
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="section__title title__style--2 service__align--center section__bg__black">
                        <h2 class="title__line">Meet Our Team</h2>
                        <p>The process of our service </p>
                    </div>
                </div>
            </div>
            <div class="row mt--40">
                <!-- Start Single Team -->
                <div class="col-lg-4 col-md-4">
                    <div class="team text-center foo">
                        <div class="team__thumb">
                            <a href="{% url 'index'%}">
                                <img src="{% static 'images/img/stu1.jpg'%}" height="200" alt="team images">
                            </a>
                        </div>
                        <div class="team__content">
                            <div class="team__info">
                                <h4><a href="">Sakshi Jaiswal</a></h4>
                                <h6>Founder</h6>
                            </div>
                            <ul class="team__social__net">
                            <li>    <p>Hello I am founder of Cuisine. I have a very good experience here because of very good customer reviews</p>
                           
                            </li>
                        </ul>   
                        </div>
                    </div>
                </div>
                <!-- End Single Team -->
                <!-- Start Single Team -->
                <div class="col-lg-4 col-md-4">
                    <div class="team text-center foo">
                        <div class="team__thumb">
                            <a href="">
                                <img src="{% static 'images/img/stu2.jpg'%}" height="200" alt="team images">
                            </a>
                        </div>
                        <div class="team__content">
                            <div class="team__info">
                                <h4><a href="">Kajal</a></h4>
                                <h6>Co-Founder</h6>
                            </div>
                        <ul class="team__social__net">
                                    <li>    <p>I am Kajal co-founder of Zykaa. It is my passion to provide quality food to you!!</p>
                                    </li>
                        </ul>
                        </div>
                    </div>
                </div>
                <!-- End Single Team -->
                <!-- Start Single Team -->
                <div class="col-lg-4 col-md-4">
                    <div class="team text-center foo">
                        <div class="team__thumb">
                            <a href="">
                                <img src="{% static 'images/img/jas.jpg'%}" height="200" alt="team images">
                            </a>
                        </div>
                        <div class="team__content">
                            <div class="team__info">
                                <h4><a href="">Lovpreet</a></h4>
                                <h6>Supplier</h6>
                            </div>
                            <ul class="team__social__net">
                                <li><p>I am lovpreet, I keeps a eye on food supply, which type of food delivered to you!!</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Single Team -->
            </div>
        </div>
    </section>
    <!-- End Our Team Area -->
    <!-- Start Accordion Area -->
    <section class="food__acconrdion__area bg--white section-padding--lg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="section__title title__style--2 service__align--center">
                        <h2 class="title__line">Frequantly Ask Question</h2>
                        <p>The process of our service </p>
                    <div class="section__title service__align--left">
                        <h2 class="title__line" style="text-align:center">How it work</h2>
                    </div>
                </div>
            </div>
            <div class="row mt--30">
                <!-- Start Single Service -->
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="service">
                        <div class="service__title">
                            <div class="ser__icon">
                                <img src="{% static 'images/icon/color-icon/1.png'%}" alt="icon image">
                            </div>
                            <h2><a href="{% url 'mysite:restaurant'%}" style="color:#6d0409f3">Choose restaurant</a></h2>
                        </div>
                        <div class="service__details">
                            <p>Here are number of restaurents. Choose One and wait for tasty food!!</p>
                        </div>
                    </div>
                </div>
                <!-- End Single Service -->
                <!-- Start Single Service -->
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="service">
                        <div class="service__title">
                            <div class="ser__icon">
                                <img src="{% static 'images/icon/color-icon/2.png'%}" alt="icon image">
                            </div>
                            <h2><a href="{% url 'mysite:allitems'%}" style="color:#6d0409f3">Select, you love to eat</a></h2>
                        </div>
                        <div class="service__details">
                            <p>Herer are number of tasty dishes. Choose according to your taste!! Quality Food gets ready for you!!!</p>
                        </div>
                    </div>
                </div>
                <!-- End Single Service -->
                <!-- Start Single Service -->
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="service">
                        <div class="service__title">
                            <div class="ser__icon">
                                <img src="{% static 'images/icon/color-icon/3.png'%}" alt="icon image">
                            </div>
                            <h2><a href="{% url 'index'%}" style="color:#6d0409f3">Pickup or delivery</a></h2>
                        </div>
                        <div class="service__details">
                            <p>Pickup orders within short time. Just choose your delivery location. Food will be at your home!!<p>
                        </div>
                    </div>
                </div>
                <!-- End Single Service -->
            </div>
        </div>
    </div>
     </div>
    </section>
    <!-- End Accordion Area -->
{% endblock %}