{% extends "base.html"%}
{% load staticfiles %}
{% block head %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

<style>
.bg-image--18{
    background: url("{% static 'images/img/banner.jpg'%}");background-position: center center;background-size: cover;
}
.hh{
    height: 80% !important;
}
</style>
{% endblock %}
{% block body%}
<!-- Start Bradcaump area -->
<div class="ht__bradcaump__area bg-image--18">
        <div class="ht__bradcaump__wrap d-flex align-items-center" style="background:rgba(0,0,0,0.5)">
            <div class="container p-3" >
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 text-light">
                        <div class="bradcaump__inner text-center">
                            <h2 class="bradcaump-title text-light mt-5">Food Items</h2>
                            <nav class="bradcaump-inner">
                              <a class="breadcrumb-item text-light" href="{% url 'index'%}">Home</a>
                              <span class="brd-separetor text-light"><i class="zmdi zmdi-long-arrow-right"></i></span>
                              <span class="breadcrumb-item active text-light">menu List view</span>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 text-light">
                        <div class="bradcaump__inner text-center">
                            <form  method="post"action="{% url 'mysite:allfood'%}">
                            {% csrf_token %}
                            <input type="text" placeholder="Enter Your City" name="city" style=" border: 2px solid #6d0409f3;background: rgba(0,0,0,0.5); padding:4px; color:white;width:500px;height: 50px;">        
                            <button type="submit" class=" btn btn-warning" style="width:150px">Search</button>
                            </form>
                </div>
            </div>
        </div>    
            </div>
        </div>
    </div>
    <!-- End Bradcaump area --> 
    <!-- Start Menu Grid Area -->
    <section class="food__menu__grid__area section-padding--lg">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-danger fadeIn">
                    {% if ci %}
                    <h2>{{total}} total results for "{{ci}}"</h2>
                    {% else %}
                    <h2>{{total}} total results</h2>
                    {% endif %}
                </div>
                    {% for i in all %}
                    <div class="col-md-6 col-lg-4 col-sm-12 foo p-3" >
                        <span class="badge badge-danger badge-pill" style="position:absolute;top:40px;left:-10px;height:30px;line-height:25px;z-index:99999999;transform:rotate(45deg);">{{i.category_id.name}}</span>
                        <div class="blog">
                            <div class="blog__thumb">
                                <a href="/media/{{i.image}}">
                                    <img src="/media/{{i.image}}" alt="blog images" height="200">
                                </a>
                            </div>
                            <div class="blog__details" style="height:400px">
                                <h2><a href="{% url 'mysite:search_cat'%}?cid={{i.id}}&name={{i.name}}">{{i.item_name}}</a></h2>
                                <span><a href="{% url 'mysite:viewmenu'%}?id={{i.rest_id.id}}">{{i.rest_id.name}}</a></span>, 
                                <span class="text-danger hh">{{i.rest_id.address}}, {{i.rest_id.city}}</span>
                                <span class="title__line text-danger"></span>
                                <p class="text-danger">
                                    <i class="far fa-clock"></i> {{i.preparation_time}}
                                </p>
                                <span>
                                    {{i.type}}
                                </span>
                                <div class="blog__btn">
                                        <h4 class="menu__prize">&#8377;{{i.price}}</h4>
                                        <form action="{% url 'mysite:cart'%}" method="post">{% csrf_token %}
                                                <input type="hidden" name="item_id" value="{{i.id}}">
                                                <input type="hidden" name="amount" value="{{i.price}}">
                                                <input type="hidden" name="add" value="1">
                                                <button class="food__btn btn--green theme--hover" type="submit">Order Now</button></form>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
            </div>
        </div>
        
    </section>

{% endblock %}