{% extends 'dashboard.html'%}
{% block content %}
<style>
    label,::placeholder{
        color:gray !important;
    }

</style>
<div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto p-5" style="background:#fff;">
                {% if status %}
                    <p class='alert alert-warning m-3'>
                        <i class='fas fa-check'></i> {{status}}</p>
                {% endif %}
                <h2>Change Password</h2>
                <div style='height:2px;width:100px;background:#8f080ff3'></div>
                <p class='my-1'>
                    Fill out the details to change your account password
                </p>
                <form action="{% url 'mysite:change_password' %}" method="post" class='mt-4'>
                    {% csrf_token %}
                    <input type="hidden" name='id' value='{{pp.id}}'>
                    {% if messages %}
                        <ul class='messages'>
                            {% for message in messages %}
                                <li class='{{message.tags}}'>{{message}}
                                <a href="{% url 'index'%}">Login Again</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <div class='form-group'>
                        <label>Current Password</label>
                        <input placeholder="Current Password" type="password" class="form-control" name="oldpass" />
                   </div>
                    <div class='form-group'>
                        <div class="row">
                            <div class="col-md-6">
                                <label>New Password</label>
                                <input name='newpass' placeholder="New Password" type="password" class="form-control" id='pass' onkeyup="checkpass()"/>
                            </div>
                            <div class="col-md-6">
                                <label>Re-enter New Password</label>
                                <input placeholder="Re-enter New Password" type="password" class="form-control" id='cpass' onkeyup="checkpass()"/>
                            </div>
                        </div>
                    </div>
                    <div class='form-group'>
                        <input type="submit" id='submit' class="btn btn-block text-light" style='border-radius:20px;background:#af1a2c;' value='Change Password'/>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
    function checkpass(){
        let p = $('#pass').val();
        let cp = $('#cpass').val();
        if(p==cp){
            $('#pass').css('border','1px solid green');
            $('#cpass').css('border','1px solid green');
            $('#submit').removeAttr('disabled');
        }else{
            $('#pass').css('border','1px solid red');
            $('#cpass').css('border','1px solid red');
            $('#submit').attr('disabled','disabled');
        }
    }
    </script>
{% endblock %}