{% extends 'dashboard.html'%}
{% block content %}
<style>
    label,::placeholder{
        color:gray !important;
    }

</style>
<div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto p-5" style="background:#fff;">
                {% if status %}
                    <p class='alert alert-danger m-3'>
                        <i class='fas fa-check'></i> {{status}}</p>
                {% endif %}
                <h2>Change Profile</h2>
                <div style='height:2px;width:100px;background:#85050bf3'></div>
                <p class='my-1'>
                    Fill your details here. If you change your email, use updated email for further loggin in.
                </p>
                <form action="{% url 'mysite:change_profile' %}" method="post" class='mt-4'>
                    {% csrf_token %}
                    <input type="hidden" name='id' value='{{pp.id}}'>
                    <input type="hidden" name='custid' value='{{pp.custid}}'>
                    <div class='form-group'>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Name</label>
                                <input placeholder="{{pp.first_name}}"t type="text" class="form-control" name="name" />
                            </div>
                        </div>
                    </div>
                   <div class='form-group'>
                        <label>Email</label>
                        <input placeholder="{{pp.username}}" type="email" class="form-control" name="email" />
                   </div>
                    <div class='form-group'>
                        <label for="">City</label>
                        <textarea placeholder="{{pp.city}}" class="form-control" name="address"></textarea>
                    </div>
                    <div class='form-group'>
                        <label for="">Contact</label>
                        <textarea placeholder="{{pp.contact}}" class="form-control" name="contact"></textarea>
                    </div>
                    <div class='form-group'>
                        <input type="submit" class="btn btn-block text-light" style='border-radius:20px;background:#af1a2c;'/>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}