{% extends "base.html" %} 
{% load staticfiles %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
<script src="{% static 'jquery.js'%}"></script>
{% block style %}
<style>
.slide1{
    background:rgba(0,0,0,0.5);
    height:100%;
}

.ab{
    position:absolute;bottom:200px;width:100%;
}
res__search {
            width: 400px;
            background: #6d0409f3 none repeat scroll 0 0;
            border-radius: 5px;
            color: #fff;
            display: inline-block;
            font-family: "Open Sans", sans-serif;
            font-size: 16px;
            font-weight: 600;
            height: 70px;
            line-height: 67px;
            padding: 0 33px;
             }
</style>
{% endblock %}
{% endblock %}

{% block body %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
{% if status %}
<script>
alert('{{status}}');
</script>

{% endif %}
<!-- Start Slider Area -->
<div class="container-fluid" >
    <div class="row" style="height:600px">
        <div class="col-md-12 p-0  font-weight-bold text-white" >
        <div class="carousel slide" id="mycarousel" data-ride="carousel" data-interval="6000" >
           <div class="carousel-inner"  data-interval="1s">
                <div class="carousel-item active" style="background:url('{% static "image/food5.jpg" %}');height:600px;background-size:cover">                           
                    <div class="slide1">   
                         <div style="height:25%;text-align:center; padding-top:6%;"> 
                          <h class="anih">
                            <strong> <h1>Are you Hungry?  
                                 So Why late?? </h1></strong> 
                            <strong><h1> ORDER HERE </h1></strong>  
                            <strong><P> FROM YOUR FAVORITE RESTAURENT </P></strong>        
                        </h>
                         </div>
                          </div> 
                </div>
                <div class="carousel-item" style= "background:url('{% static "image/f2.jpg"%}');height:600px;background-size:cover">
                    <div class="slide1">   
                        <div style="height:25%;text-align:center; padding-top:6%;"> 
                     <h class="anih" >
                            <strong ><h1>WE GET WHAT YOU LOVE </h1>
                            <P> FROM YOUR FAVORITE RESTAURENT </P></strong>          
                        </h>
                         </div>          
                </div></div>
                <div class="carousel-item" style="background:url('{% static "image/f6.jpeg"%}');height:600px;background-size:cover ">
                    <div class="slide1">   
                        <div style="height:25%;text-align:center; padding-top:6%;"> 
                    <h class="anih" >
                            <strong><h1>ORDER TAKEAWAY ONLINE </h1></strong> 
                                 <strong><P> FROM YOUR FAVORITE RESTAURENT </P></strong>          
                        </h>
                         </div>   
                   </div>   
                  </div>
                      
        <a class="carousel-control-prev" href="#mycarousel" data-slide="prev">
        <span class='carousel-control-prev-icon'></span>    
        </a>
        <a class="carousel-control-next" href="#mycarousel" data-slide="next">
        <span class='carousel-control-next-icon'></span>   
        </a>
        <div class="row ab">
                <div class="col-md-12 text-white font-weight-bold">
                   <div class='row text-center '>
                      <div class='col-md-12 text-center'>
                        <div class='mx-auto' style='height:25%'>
                            <form  method="post"action="{% url 'mysite:allitems'%}">
                                {% csrf_token %}
                                <h1 style="text-align: center;color:white;font-family: 'Anton', sans-serif;font-family: 'Arvo',serif;font-family: 'Luckiest Guy', cursive;">"CUISINE" Fast Food Delivery</h1>    
                            <input type="text" placeholder="Enter Your City" name="city" style=" border: 2px solid #6d0409f3;background: rgba(0,0,0,0.5); padding:4px; color:white;width:300px;height: 50px;">
                            <input type="text" placeholder="Search By Dish" name="dish" style=" border: 2px solid #6d0409f3;background: rgba(0,0,0,0.5); padding:4px; color:white;width:300px;height: 50px;">
                            <div class="src__btn p-2">
                                <button type="submit" class=" btn btn-warning" style="width:150px">Search</button>
                            </div>
                            
                  
                        </form>              
                         </div>
                   </div>
                </div>
              </div></div>
              </div>
</div>
</div></div>
</div>


<!-- End Slider Area -->
<!-- Start Service Area -->
<section class="fd__service__area bg-image--2 section-padding--xlg">
    <div class="container">
        <div class="service__wrapper bg--white">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="section__title service__align--left">
                        <p>The process of our service</p>
                        <h2 class="title__line">How it work</h2>
                    </div>
                </div>
            </div>
            <div class="row mt--30">
                <!-- Start Single Service -->
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="service">
                        <div class="service__title">
                            <div class="ser__icon">
                                <img src="{% static 'images/icon/color-icon/1.png'%}" alt="icon image">
                            </div>
                            <h2><a href="{% url 'mysite:restaurant'%}" style="color:#6d0409f3">Choose restaurant</a></h2>
                        </div>
                        <div class="service__details">
                            <p>Here are number of restaurents. Choose One and wait for tasty food!!</p>
                        </div>
                    </div>
                </div>
                <!-- End Single Service -->
                <!-- Start Single Service -->
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="service">
                        <div class="service__title">
                            <div class="ser__icon">
                                <img src="{% static 'images/icon/color-icon/2.png'%}" alt="icon image">
                            </div>
                            <h2><a href="{% url 'mysite:allitems'%}" style="color:#6d0409f3">Select, you love to eat</a></h2>
                        </div>
                        <div class="service__details">
                            <p>Herer are number of tasty dishes. Choose according to your taste!! Quality Food gets ready for you!!!</p>
                        </div>
                    </div>
                </div>
                <!-- End Single Service -->
                <!-- Start Single Service -->
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="service">
                        <div class="service__title">
                            <div class="ser__icon">
                                <img src="{% static 'images/icon/color-icon/3.png'%}" alt="icon image">
                            </div>
                            <h2><a href="{% url 'index'%}" style="color:#6d0409f3">Pickup or delivery</a></h2>
                        </div>
                        <div class="service__details">
                            <p>Pickup orders within short time. Just choose your delivery location. Food will be at your home!!<p>
                        </div>
                    </div>
                </div>
                <!-- End Single Service -->
            </div>
        </div>
    </div>
</section>
<!-- End Service Area -->
<!-- Start Food Category -->
<section class="food__category__area bg--white section-padding--lg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="section__title service__align--left">
                    <p>the process of our service</p>
                    <h2 class="title__line">Search by food category</h2>
                </div>
            </div>
        </div>
        <div class="food__category__wrapper mt--40">
            <div class="row">
                <!-- Start Single Category -->
                {% for i in cat %}
                <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="food__item foo">
                            <div class="food__thumb">
                                <a href="{% url 'mysite:search_cat'%}?cid={{i.id}}&name={{i.name}}">
                                    <img src="/media/{{i.image}}" alt="product images" height="200px">
                                </a>
                            </div>
                            <div class="food__title" style="background:rgba(0,0,0,0.5)">
                                <h2><a href="{% url 'mysite:search_cat'%}?cid={{i.id}}&name={{i.name}}">{{i.name}}</a></h2>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <!-- End Single Category -->
                
            </div>
        </div>
    </div>
</section>
<!-- End Food Category -->
<!-- Start Special Menu -->
<section class="fd__special__menu__area bg-image--3 section-pt--lg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="section__title service__align--left">
                    <p>the process of our service </p>
                    <h2 class="title__line">Restaurant with Special Menu</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="special__food__menu mt--80">
        <div class="food__menu__prl bg-image--4">
            <div class="container" style="background:rgba(0,0,0,0.5);height:100%;">
                <div class="row">
                    <div class="col-md-12">
                        <div class="food__nav nav nav-tabs" role="tablist">
                            <a class="active" id="nav-all-tab" data-toggle="tab" href="#nav-all" role="tab">All</a>
                            {% for i in cat %}
                            <a id="nav-{{i.name}}-tab" data-toggle="tab" href="#nav-{{i.name}}" role="tab" onclick ="getproduct('{{i.id}}')">{{i.name}}</a>
                            {% endfor %}
                        </div>
                        <div class="fd__tab__content tab-content mycontent card-columns" id="nav-tabContent">
                            <!-- Start Single tab -->
                            
                                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>      
<!-- End Special Menu -->
<!-- Start Testimonail Area -->
<section class="fd__testimonial__area section-padding--lg bg-image--5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-12 col-sm-12">
                
                <div class="testimonial__activation--1 text-center bg--white owl-carousel owl-theme clearfix">
                    <!-- Start Single Testimonial -->
                    <div class="testimonial">
                        <div class="testimonial__thumb">
                            <img src="{% static 'images/img/jas.jpg'%}" height="100" width="100" class="rounded-circle" alt="testimonial images">
                        </div>
                        <div class="testimonial__details">
                            <h4>― Virginia Woolf</h4>
                            <h6>Food Expert</h6>
                            <p>
                                    “One cannot think well, love well, sleep well, if one has not dined well.” 
                                    
                            </p>
                        </div>
                    </div>
                    <!-- End Single Testimonial -->
                    <!-- Start Single Testimonial -->
                    <div class="testimonial">
                        <div class="testimonial__thumb">
                            <img src="{% static 'images/img/stu3.jpg'%}"  height="100" width="100" class="rounded-circle" alt="testimonial images">
                        </div>
                        <div class="testimonial__details">
                            <h4>― Orson Welles</h4>
                            <h6>Food Expert</h6>
                            <p>“Ask not what you can do for your country. Ask what’s for lunch.” 
                                    </p>
                        </div>
                    </div>
                    <!-- End Single Testimonial -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Testimonail Area -->
<!-- Start Blog Area -->
<section class="fb__blog__ara section-padding--lg bg--white">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="section__title service__align--left">
                    <p>the process of our service </p>
                    <h2 class="title__line">Recommended Items</h2>
                </div>
            </div>
        </div>
        <div class="row mt--40">
            <!-- Start Single Blog -->
            {% for i in all %}
            <div class="col-md-6 col-lg-4 col-sm-12 foo">
                <div class="blog">
                    <div class="blog__thumb">
                        <a href="/media/{{i.image}}">
                            <img src="/media/{{i.image}}" alt="blog images" height="200">
                        </a>
                    </div>
                    <div class="blog__details">
                        <h2><a href="{% url 'mysite:search_cat'%}?cid={{i.id}}&name={{i.name}}">{{i.name}}</a></h2>
                        <span>{{i.rest}}</span>
                        <span class="title__line text-danger">{{i.cat}}</span>
                        <p class="text-danger">
                            <i class="far fa-clock"></i> {{i.preparation}}
                        </p>
                        <div class="blog__btn">
                                <h4 class="menu__prize">&#8377;{{i.price}}</h4>
                                <form action="{% url 'mysite:cart'%}" method="post">{% csrf_token %}
                                        <input type="hidden" name="item_id" value="{{i.id}}">
                                        <input type="hidden" name="amount" value="{{i.price}}">
                                        <input type="hidden" name="add" value="1">
                                        <button class="food__btn btn--green theme--hover" type="submit">Add To Cart</button></form>
                            
                        </div>
                    </div>
                </div>
            </div>
           
            {% endfor %}
        </div>
    </div>
</section>
<!-- End Blog Area -->

<script>
        function getproduct(ab){    
                $.ajax({
                    url:'{% url "mysite:get_item"%}',
                    type:'get',
                    data:{id:ab},
                    success:function(data){
                        aa='';
                        for(i in data){
                            aa += '<div class="single__tab__panel tab-pane active fade show" id="nav-'+data[i].item_name+'" role="tabpanel">';
                            aa+='<div class="tab__content__wrap" >';
                            aa+='<div class="single__tab__content" >';
                            aa+='<div class="food__menu" >';
                            aa+='<div class="food__menu__thumb" >';
                            aa+='<a href="{{i.id}}">';
                            aa+='<img src="/media/'+data[i].image+'" alt="product images" height="50" width="50">';
                            aa+='</a></div>';
                            aa+='<div class="food__menu__details"><div class="fd__menu__title__prize">';
                            aa+='<h4><a href="menu-details.html">'+data[i].item_name+'</a></h4>';
                            aa+='<span class="menu__prize">&#8377;'+data[i].price+'</span>';
                            aa+='</div><div class="fd__menu__details"><p>Food Type : '+data[i].type+'</p><p>Available : '+data[i].status+'</p>';
                            aa+='<div class="delivery__time__rating"><p>Delivery Time : '+data[i].preparation_time+' min, Delivery Cost : Free</p>';
                            aa+='<form action="{% url "mysite:cart"%}" method="post">{% csrf_token %}<input type="hidden" name="item_id" value="'+data[i].id+'">';
							aa+='<input type="hidden" name="amount" value="'+data[i].price+'">';   
							aa+='<input type="hidden" name="add" value="1">';   
							aa+='<button type="submit" class="btn btn-danger">Add To Cart</button></form>';
                            aa+='</div></div></div>';
                            aa+='</div></div></div>';
                            
                            }
                        $('.mycontent').html(aa);
                    }
                });
            }
            $(function abcd(){
      $('.anih').animate({height:100,opacity:0},500,function(){
              $(this).css({color:'white'});     
              $(this).animate({height:200,opacity:1},500,function(){
              abcd();
       
              })
          });    
      })
    </script>
<!-- End Subscribe Area -->
{% endblock %}